* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark only;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2rem;
}

main {
  flex: 1;
  padding: 2rem;
}

header + main {
  padding: 0 2rem;
}

footer {
  background-color: black;
  color: white;
  padding: 2rem;
}
blogs {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 2rem;
}
